@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    background-color: #F0F0F0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    background-color: #fff;
    width: 840px;
    height: 650px;
    border-radius: 24px 24px 190px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: absolute;
    width: 728px;
    height: 556px;
}

.container-input {
    width: 545px;
    height: 152px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

label {
    font-size: 1rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #717171;

}

.input-box p {
    display: none;
}

/*  --------------------ERROR ---------------- */
.error {
    color: #ff5757;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


label.error~input {
    border: 1px solid #ff5757;
}

label.error~input:focus {
    border: 1px solid #e34d4d;
}

.error~input+p {
    display: block;
    font-size: 0.8rem;
    color: #ff5757;
    font-style: italic;
}

/* ---------------------- ERROR -----------------*/
.input-box input {
    width: 160px;
    height: 70px;
    padding-left: 23px;
    border-radius: 7px;
    border: 1px solid #DDDDDD;
    font-size: 2rem;
    outline: none;
}

.input-box input:focus {
    border: 1px solid #854dff;
}


hr {
    height: 1px;
    width: 630px;
    background-color: #ECECEC;
    outline: none;
}

.button-form {
    width: 95px;
    height: 95px;
    position: absolute;
    right: 4.5px;
    top: 18%;
    border-radius: 50%;
    background-color: #854dff;
    border: none;
}

button:hover {
    background-color: #000;
}

.container-results {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-results span {
    color: #854dff;
    font-style: italic;
}

.container-results h1 {
    font-size: 92px;
    font-style: italic;
    line-height: 7rem;
}


@media (max-width: 415px) {
    section {
        width: 343px;
        height: 450px;
        margin: 0px 5px;
        border-radius: 24px 24px 98px 24px;
    }

    .box {
        width: 295px;
        height: 387px;
    }

    .container-input {
        width: 100%;
        height: 130px;
        display: flex;
        justify-content: space-between;
    }

    .input-box {
        width: 88px;
        height: 105px;
    }

    .input-box label {
        font-size: 0.7rem;
        letter-spacing: 3px;
    }

    .error~input+p {
        margin-top: 2px;
        font-size: 0.55rem;
        line-height: 0.7rem;
    }
    

    .input-box input {
        width: 95px;
        height: 53px;
        font-size: 1.5rem;
        padding-left: 1rem;
    }

    .button-form {
        width: 60px;
        height: 60px;
        position: absolute;
        left: 40%;
        top: 100px ;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button-form img {
        width: 50%;
    }

    hr {
        width: 100%;
    }

    .container-results {
        width: 100%;
        height: 282px;
    }

    .container-results h1 {
        font-size: 3.2rem;
        line-height: 4rem;
    }
}